{% extends "hippo/base.html" %}

{% block title %} Map Features in Sequence {% endblock %}

{% block body %}

<h2>Enter Sequence to Map</h2>

<div id="post-form">
  <input type="hidden" name="db" value="default" />
  <textarea name="sequence" class="sequence">
ttggggttgcgccttttccaaggcagccctgggtttgcgcagggacgcggctgctctgggcgtggttccgggaaacgcag
cggcgccgaccctgggtctcgcacattcttcacgtccgttcgcagcgtcacccggatcttcgccgctacccttgtgggcc
ccccggcgacgcttcctgctccgcccctaagtcgggaaggttccttgcggttcgcggcgtgccggacgtgacaaacggaa
gccgcacgtctcactagtaccctcgcagacggacagcgccagggagcaatggcagcgcgccgaccgcgatgggctgtggc
caatagcggctgctcagcagggcgcgccgagagcagcggccgggaaggggcggtgcgggaggcggggtgtggggcggtag
tgtgggccctgttcctgcccgcgcggtgttccgcattctgcaagcctccggagcgcacgtcggcagtcggctccctcgtt
gaccgaatcaccgacctctctccccagggggatccaccggagcttaccatgaccgagtacaagcccacggtgcgcctcgc
cacccgcgacgacgtccccagggccgtacgcaccctcgccgccgcgttcgccgactaccccgccacgcgccacaccgtcg
atccggaccgccacatcgagcgggtcaccgagctgcaagaactcttcctcacgcgcgtcgggctcgacatcggcaaggtg
tgggtcgcggacgacggcgccgcggtggcggtctggaccacgccggagagcgtcgaagcgggggcggtgttcgccgagat
cggcccgcgcatggccgagttgagcggttcccggctggccgcgcagcaacagatggaaggcctcctggcgccgcaccggc
ccaaggagcccgcgtggttcctggccaccgtcggcgtctcgcccgaccaccagggcaagggtctgggcagcgccgtcgtg
ctccccggagtggaggcggccgagcgcgccggggtgcccgccttcctggagacctccgcgccccgcaacctccccttcta
cgagcggctcggcttcaccgtcaccgccgacgtcgaggtgcccgaaggaccgcgcacctggtgcatgacccgcaagcccg
gtgcctgacgcccgccccacgacccgcagcgcccgaccgaaaggagcgcacgaccccatgcatcggtacctttaagacca
atgacttacaaggcagctgtagatcttagccactttttaaaagaaaaggggggactggaagggctaattcactcccaacg
aagacaagatctgctttttgcttgtactgggtctctctggttagaccagatctgagcctgggagctctctggctaactag
ggaacccactgcttaagcctcaataaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggt
aactagagatccctcagacccttttagtcagtgtggaaaatctctagcagtagtagttcatgtcatcttattattcagta
tttataacttgcaaagaaatgaatatcagagagtgagaggaacttgtttattgcagcttataatggttacaaataaagca
atagcatcacaaatttcacaaataaagcatttttttcactgcattctagttgtggtttgtccaaactcatcaatgtatct
tatcatgtctggctctagctatcccgcccctaactccgcccatcccgcccctaactccgcccagttccgcccattctccg
ccccatggctgactaattttttttatttatgcagaggccgaggccgcctcggcctctgagctattccagaagtagtgagg
aggcttttttggaggcctagggacgtacccaattcgccctatagtgagtcgtattacgcgcgctcactggccgtcgtttt
acaacgtcgtgactgggaaaaccctggcgttacccaacttaatcgccttgcagcacatccccctttcgccagctggcgta
atagcgaagaggcccgcaccgatcgcccttcccaacagttgcgcagcctgaatggcgaatgggacgcgccctgtagcggc
gcattaagcgcggcgggtgtggtggttacgcgcagcgtgaccgctacacttgccagcgccctagcgcccgctcctttcgc
tttcttcccttcctttctcgccacgttcgccggctttccccgtcaagctctaaatcgggggctccctttagggttccgat
ttagtgctttacggcacctcgaccccaaaaaacttgattagggtgatggttcacgtagtgggccatcgccctgatagacg
gtttttcgccctttgacgttggagtccacgttctttaatagtggactcttgttccaaactggaacaacactcaaccctat
ctcggtctattcttttgatttataagggattttgccgatttcggcctattggttaaaaaatgagctgatttaacaaaaat
ttaacgcgaattttaacaaaatattaacgcttacaatttaggtggcacttttcggggaaatgtgcgcggaacccctattt
gtttatttttctaaatacattcaaatatgtatccgctcatgagacaataaccctgataaatgcttcaataatattgaaaa
aggaagagtatgagtattcaacatttccgtgtcgcccttattcccttttttgcggcattttgccttcctgtttttgctca
cccagaaacgctggtgaaagtaaaagatgctgaagatcagttgggtgcacgagtgggttacatcgaactggatctcaaca
gcggtaagatccttgagagttttcgccccgaagaacgttttccaatgatgagcacttttaaagttctgctatgtggcgcg
gtattatcccgtattgacgccgggcaagagcaactcggtcgccgcatacactattctcagaatgacttggttgagtactc
accagtcacagaaaagcatcttacggatggcatgacagtaagagaattatgcagtgctgccataaccatgagtgataaca
ctgcggccaacttacttctgacaacgatcggaggaccgaaggagctaaccgcttttttgcacaacatgggggatcatgta
actcgccttgatcgttgggaaccggagctgaatgaagccataccaaacgacgagcgtgacaccacgatgcctgtagcaat
ggcaacaacgttgcgcaaactattaactggcgaactacttactctagcttcccggcaacaattaatagactggatggagg
cggataaagttgcaggaccacttctgcgctcggcccttccggctggctggtttattgctgataaatctggagccggtgag
cgtgggtctcgcggtatcattgcagcactggggccagatggtaagccctcccgtatcgtagttatctacacgacggggag
tcaggcaactatggatgaacgaaatagacagatcgctgagataggtgcctcactgattaagcattggtaactgtcagacc
aagtttactcatatatactttagattgatttaaaacttcatttttaatttaaaaggatctaggtgaagatcctttttgat
aatctcatgaccaaaatcccttaacgtgagttttcgttccactgagcgtcagaccccgtagaaaagatcaaaggatcttc
ttgagatcctttttttctgcgcgtaatctgctgcttgcaaacaaaaaaaccaccgctaccagcggtggtttgtttgccgg
atcaagagctaccaactctttttccgaaggtaactggcttcagcagagcgcagataccaaatactgttcttctagtgtag
ccgtagttaggccaccacttcaagaactctgtagcaccgcctacatacctcgctctgctaatcctgttaccagtggctgc
tgccagtggcgataagtcgtgtcttaccgggttggactcaagacgatagttaccggataaggcgcagcggtcgggctgaa
cggggggttcgtgcacacagcccagcttggagcgaacgacctacaccgaactgagatacctacagcgtgagctatgagaa
agcgccacgcttcccgaagggagaaaggcggacaggtatccggtaagcggcagggtcggaacaggagagcgcacgaggga
gcttccagggggaaacgcctggtatctttatagtcctgtcgggtttcgccacctctgacttgagcgtcgatttttgtgat
gctcgtcaggggggcggagcctatggaaaaacgccagcaacgcggcctttttacggttcctggccttttgctggcctttt
gctcacatgttctttcctgcgttatcccctgattctgtggataaccgtattaccgcctttgagtgagctgataccgctcg
ccgcagccgaacgaccgagcgcagcgagtcagtgagcgaggaagcggaagagcgcccaatacgcaaaccgcctctccccg
cgcgttggccgattcattaatgcagctggcacgacaggtttcccgactggaaagcgggcagtgagcgcaacgcaattaat
gtgagttagctcactcattaggcaccccaggctttacactttatgcttccggctcgtatgttgtgtggaattgtgagcgg
ataacaatttcacacaggaaacagctatgaccatgattacgccaagcgcgcaattaaccctcactaaagggaacaaaagc
tggagctgcaagcttaatgtagtcttatgcaatactcttgtagtcttgcaacatggtaacgatgagttagcaacatgcct
tacaaggagagaaaaagcaccgtgcatgccgattggtggaagtaaggtggtacgatcgtgccttattaggaaggcaacag
acgggtctgacatggattggacgaaccactgaattgccgcattgcagagatattgtatttaagtgcctagctcgatacat
aaacgggtctctctggttagaccagatctgagcctgggagctctctggctaactagggaacccactgcttaagcctcaat
aaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggtaactagagatccctcagacccttt
tagtcagtgtggaaaatctctagcagtggcgcccgaacagggacttgaaagcgaaagggaaaccagaggagctctctcga
cgcaggactcggcttgctgaagcgcgcacggcaagaggcgaggggcggcgactggtgagtacgccaaaaattttgactag
cggaggctagaaggagagagatgggtgcgagagcgtcagtattaagcgggggagaattagatcgcgatgggaaaaaattc
ggttaaggccagggggaaagaaaaaatataaattaaaacatatagtatgggcaagcagggagctagaacgattcgcagtt
aatcctggcctgttagaaacatcagaaggctgtagacaaatactgggacagctacaaccatcccttcagacaggatcaga
agaacttagatcattatataatacagtagcaaccctctattgtgtgcatcaaaggatagagataaaagacaccaaggaag
ctttagacaagatagaggaagagcaaaacaaaagtaagaccaccgcacagcaagcggccgctgatcttcagacctggagg
aggagatatgagggacaattggagaagtgaattatataaatataaagtagtaaaaattgaaccattaggagtagcaccca
ccaaggcaaagagaagagtggtgcagagagaaaaaagagcagtgggaataggagctttgttccttgggttcttgggagca
gcaggaagcactatgggcgcagcgtcaatgacgctgacggtacaggccagacaattattgtctggtatagtgcagcagca
gaacaatttgctgagggctattgaggcgcaacagcatctgttgcaactcacagtctggggcatcaagcagctccaggcaa
gaatcctggctgtggaaagatacctaaaggatcaacagctcctggggatttggggttgctctggaaaactcatttgcacc
actgctgtgccttggaatgctagttggagtaataaatctctggaacagatttggaatcacacgacctggatggagtggga
cagagaaattaacaattacacaagcttaatacactccttaattgaagaatcgcaaaaccagcaagaaaagaatgaacaag
aattattggaattagataaatgggcaagtttgtggaattggtttaacataacaaattggctgtggtatataaaattattc
ataatgatagtaggaggcttggtaggtttaagaatagtttttgctgtactttctatagtgaatagagttaggcagggata
ttcaccattatcgtttcagacccacctcccaaccccgaggggacccgacaggcccgaaggaatagaagaagaaggtggag
agagagacagagacagatccattcgattagtgaacggatctcgacggtatcgatcacgagactagcctcgagcggccgcc
cccttcaccgagggcctatttcccatgattccttcatatttgcatatacgatacaaggctgttagagagataattggaat
taatttgactgtaaacacaaagatattagtacaaaatacgtgacgtagaaagtaataatttcttgggtagtttgcagttt
taaaattatgttttaaaatggactatcatatgcttaccgtaacttgaaagtatttcgatttcttggctttatatatcttg
tggaaaggacgaaacACCGGTGTGTTGTAAATGAGCACACAAAATACACATGCTAAAATATTATATTCTATGACCTTTAT
AAAATCAACCAAAATCTTCTTTTTAATAACTTTAGTATCAATAATTAGAATTTTTATGTTCCTTTTTGCAAACTTTTAAT
AAAAATGAGCAAAATAAAAAAACGCTAGTTTTAGTAACTCGCGTTGTTTTCTTCACCTTTAATAATAGCTACTCCACCAC
TTGTTCCTAAGCGGTCAGCTCCTGCTTCAATCATTTTTTGAGCATCTTCAAATGTTCTAACTCCACCAGCTGCTTTAACT
AAAGCATTGTCTTTAACAACTGACTTCATTAGTTTAACATCTTCAAATGTTGCACCTGATTTTGAAAATCCTGTTGATGT
TTTAACAAATTCTAATCCAGCTTCAACAGCTATTTCACAAGCTTTCATGATTTCTTCTTTTGTTAATAAACAATTTTCCA
TAATACATTTAACAACATGTGATCCAGCTGCTTTTTTTACAGCTTTCATGTCTTCTAAAACTAATTCATAATTTTTGTCT
TTTAATGCACCAATATTTAATACCATATCAATTTCTGTTGCACCATCTTTAATTGCTTCAGAAACTTCGAATGCTTTTGT
AGCTGTTGTGCATGCACCTAGAGGAAAACCTACAACATTTGTTATTCCTACATTTGTGCCTTTTAATAATTCTTTACAAT
AGCTTGTTCAATATGAATTAACACAAACTGTTGCAAAATCAAATTCAATTGCTTCATCACATAATTGTTTAATTTCAGCT
TTCGTAGCATCTTGTTTTAATAATGTGTGATCTATATATTTGTTTAGTTTCATTTTTTCTCCTATATATTCATTTTTAAT
TTTAATTCTTTAATAATTTCGTCTACTTTAACTTTAGCGTTTTGAACAGATTCACCAACACCTATAAAATAAATTTTTAG
TTTAGGTTCAGTTCCACTTGGGCGAACAGCAAATCATGACTTATCTTCTAAATAAAATTTTAGTAAGTCTTGTCCTGGCA
TATTATACATTCCATCGATGTAGTCTTCAACATTAACAACTTTAAGTCCAGCAATTTGAGTTAAGGGTGTTGCTCTCAAT
GATTTCATTAATGGTTCAATTTTTAATTTCTTTTCTTCTGGTTTAAAATTCAAGTTTAAAGTGAAAGTGTAATATGCACC
CATTTCTTTAAATAAATCTTCTAAATAGTCTACTAATGTTTTATTTTGTTTTTTATAAAATCAAGCAGCCTCTGCTATTA
ATATAGAAGCTTGTATTCCATCTTTATCTCTAGCTGAGTCATCAATTACATATCCATAACTTTCTTCATAAGCAAAAACA
AAATTTAATCCGTTATCTTCTTCTTTAGCAATTTCTCTACCCATTCATTTAAATCCAGTTAAAGTTTTTACAATATTAAC
TCCATATTTTTCATGAGCGATTCTATCACCCAAATCACTTGTTACAAAACTTGAATATAGAGCCGGATTTTTTGGAATGC
TATTTAAGCGTTTTAGATTTGATAATTTTCAATCAATTAAAATTGGTCCTGTTTGATTTCCATCTAATCTTACAAAATGA
CCATCATGTTTTATTGCCATTCCAAATCTGTCAGCATCTGGGTCATTCATAATAATAATATCTGCATCATGTTTAATACC
ATATTCAAGCGGTATTTTTCATGCAGGATCAAATTCTGGATTTGGATTTACAACATTTTTAAATGTTTCATCTTCAAATG
CATGCTCTTCAACCTCAATAACGTTATATCCTGATTCACGTAATATTTTTGGGGTAAATTTAGTTCCTGTTCCATTAACT
GCGCTAAAAATAATTTTTAAATCTTTTTTAGCTTCTTGCTCTTTTTTGTAGAATTCtcgacctcgagacaaatggcagta
ttcatccacaattttaaaagaaaaggggggattggggggtacagtgcaggggaaagaatagtagacataatagcaacaga
catacaaactaaagaattacaaaaacaaattacaaaaattcaaaattttcgggtttattacagggacagcagagatccac
tttggccgcggctcgaggggg
</textarea>
  <p class="button"><a href="#">Try It</a></p>

</div>

<div id="giraffe-analyze"></div>

{% endblock %}

{% block pagejs %}
<script>

jQuery(document).ready(function($){ 
  $('#post-form .button a').click(function(evt){
    evt.preventDefault();
    var seq = $('#post-form textarea[name=sequence]').val();
    var db = $('#post-form input[name=db]').val();
    if (seq !== undefined && seq.length > 0) {
      $.post("{% url blat-post %}",
             { "sequence": seq, "db": db },
             function(data) {
               var gd = GiraffeDraw();
               gd.read(data);
               GiraffeAnalyze($, gd, { 'dom_id':'giraffe-analyze', 'name':'Sequence' });
             },
             'json');
      return;
    }
    alert('Please enter a sequence');
  });
});

</script>

<script type="text/javascript" src="/static/giraffe/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/giraffe/js/scale.raphael.js"></script>
<script type="text/javascript" src="/static/giraffe/js/bio.js"></script>
<script type="text/javascript" src="/static/giraffe/js/draw.js"></script>
<script type="text/javascript" src="/static/giraffe/js/analyze.js"></script>

{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="/static/giraffe/css/analyze.css" type="text/css"/>
{% endblock %}

