{% extends "giraffe/base.html" %}

{% block title %} Map Features in Sequence {% endblock %}

{% block body %}

<h2>Enter Sequence to Map</h2>

<div id="post-form">
  <input type="hidden" name="db" value="default" />
  <textarea name="sequence" class="sequence">
ttggggttgcgccttttccaaggcagccctgggtttgcgcagggacgcggctgctctgggcgtggttccgggaaacgcag
cggcgccgaccctgggtctcgcacattcttcacgtccgttcgcagcgtcacccggatcttcgccgctacccttgtgggcc
ccccggcgacgcttcctgctccgcccctaagtcgggaaggttccttgcggttcgcggcgtgccggacgtgacaaacggaa
gccgcacgtctcactagtaccctcgcagacggacagcgccagggagcaatggcagcgcgccgaccgcgatgggctgtggc
caatagcggctgctcagcagggcgcgccgagagcagcggccgggaaggggcggtgcgggaggcggggtgtggggcggtag
tgtgggccctgttcctgcccgcgcggtgttccgcattctgcaagcctccggagcgcacgtcggcagtcggctccctcgtt
gaccgaatcaccgacctctctccccagggggatccaccggagcttaccatgaccgagtacaagcccacggtgcgcctcgc
cacccgcgacgacgtccccagggccgtacgcaccctcgccgccgcgttcgccgactaccccgccacgcgccacaccgtcg
atccggaccgccacatcgagcgggtcaccgagctgcaagaactcttcctcacgcgcgtcgggctcgacatcggcaaggtg
tgggtcgcggacgacggcgccgcggtggcggtctggaccacgccggagagcgtcgaagcgggggcggtgttcgccgagat
cggcccgcgcatggccgagttgagcggttcccggctggccgcgcagcaacagatggaaggcctcctggcgccgcaccggc
ccaaggagcccgcgtggttcctggccaccgtcggcgtctcgcccgaccaccagggcaagggtctgggcagcgccgtcgtg
ctccccggagtggaggcggccgagcgcgccggggtgcccgccttcctggagacctccgcgccccgcaacctccccttcta
cgagcggctcggcttcaccgtcaccgccgacgtcgaggtgcccgaaggaccgcgcacctggtgcatgacccgcaagcccg
gtgcctgacgcccgccccacgacccgcagcgcccgaccgaaaggagcgcacgaccccatgcatcggtacctttaagacca
atgacttacaaggcagctgtagatcttagccactttttaaaagaaaaggggggactggaagggctaattcactcccaacg
aagacaagatctgctttttgcttgtactgggtctctctggttagaccagatctgagcctgggagctctctggctaactag
ggaacccactgcttaagcctcaataaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggt
aactagagatccctcagacccttttagtcagtgtggaaaatctctagcagtagtagttcatgtcatcttattattcagta
tttataacttgcaaagaaatgaatatcagagagtgagaggaacttgtttattgcagcttataatggttacaaataaagca
atagcatcacaaatttcacaaataaagcatttttttcactgcattctagttgtggtttgtccaaactcatcaatgtatct
tatcatgtctggctctagctatcccgcccctaactccgcccatcccgcccctaactccgcccagttccgcccattctccg
ccccatggctgactaattttttttatttatgcagaggccgaggccgcctcggcctctgagctattccagaagtagtgagg
aggcttttttggaggcctagggacgtacccaattcgccctatagtgagtcgtattacgcgcgctcactggccgtcgtttt
acaacgtcgtgactgggaaaaccctggcgttacccaacttaatcgccttgcagcacatccccctttcgccagctggcgta
atagcgaagaggcccgcaccgatcgcccttcccaacagttgcgcagcctgaatggcgaatgggacgcgccctgtagcggc
gcattaagcgcggcgggtgtggtggttacgcgcagcgtgaccgctacacttgccagcgccctagcgcccgctcctttcgc
tttcttcccttcctttctcgccacgttcgccggctttccccgtcaagctctaaatcgggggctccctttagggttccgat
ttagtgctttacggcacctcgaccccaaaaaacttgattagggtgatggttcacgtagtgggccatcgccctgatagacg
gtttttcgccctttgacgttggagtccacgttctttaatagtggactcttgttccaaactggaacaacactcaaccctat
ctcggtctattcttttgatttataagggattttgccgatttcggcctattggttaaaaaatgagctgatttaacaaaaat
ttaacgcgaattttaacaaaatattaacgcttacaatttaggtggcacttttcggggaaatgtgcgcggaacccctattt
gtttatttttctaaatacattcaaatatgtatccgctcatgagacaataaccctgataaatgcttcaataatattgaaaa
aggaagagtatgagtattcaacatttccgtgtcgcccttattcccttttttgcggcattttgccttcctgtttttgctca
cccagaaacgctggtgaaagtaaaagatgctgaagatcagttgggtgcacgagtgggttacatcgaactggatctcaaca
gcggtaagatccttgagagttttcgccccgaagaacgttttccaatgatgagcacttttaaagttctgctatgtggcgcg
gtattatcccgtattgacgccgggcaagagcaactcggtcgccgcatacactattctcagaatgacttggttgagtactc
accagtcacagaaaagcatcttacggatggcatgacagtaagagaattatgcagtgctgccataaccatgagtgataaca
ctgcggccaacttacttctgacaacgatcggaggaccgaaggagctaaccgcttttttgcacaacatgggggatcatgta
actcgccttgatcgttgggaaccggagctgaatgaagccataccaaacgacgagcgtgacaccacgatgcctgtagcaat
ggcaacaacgttgcgcaaactattaactggcgaactacttactctagcttcccggcaacaattaatagactggatggagg
cggataaagttgcaggaccacttctgcgctcggcccttccggctggctggtttattgctgataaatctggagccggtgag
cgtgggtctcgcggtatcattgcagcactggggccagatggtaagccctcccgtatcgtagttatctacacgacggggag
tcaggcaactatggatgaacgaaatagacagatcgctgagataggtgcctcactgattaagcattggtaactgtcagacc
aagtttactcatatatactttagattgatttaaaacttcatttttaatttaaaaggatctaggtgaagatcctttttgat
aatctcatgaccaaaatcccttaacgtgagttttcgttccactgagcgtcagaccccgtagaaaagatcaaaggatcttc
ttgagatcctttttttctgcgcgtaatctgctgcttgcaaacaaaaaaaccaccgctaccagcggtggtttgtttgccgg
atcaagagctaccaactctttttccgaaggtaactggcttcagcagagcgcagataccaaatactgttcttctagtgtag
ccgtagttaggccaccacttcaagaactctgtagcaccgcctacatacctcgctctgctaatcctgttaccagtggctgc
tgccagtggcgataagtcgtgtcttaccgggttggactcaagacgatagttaccggataaggcgcagcggtcgggctgaa
cggggggttcgtgcacacagcccagcttggagcgaacgacctacaccgaactgagatacctacagcgtgagctatgagaa
agcgccacgcttcccgaagggagaaaggcggacaggtatccggtaagcggcagggtcggaacaggagagcgcacgaggga
gcttccagggggaaacgcctggtatctttatagtcctgtcgggtttcgccacctctgacttgagcgtcgatttttgtgat
gctcgtcaggggggcggagcctatggaaaaacgccagcaacgcggcctttttacggttcctggccttttgctggcctttt
gctcacatgttctttcctgcgttatcccctgattctgtggataaccgtattaccgcctttgagtgagctgataccgctcg
ccgcagccgaacgaccgagcgcagcgagtcagtgagcgaggaagcggaagagcgcccaatacgcaaaccgcctctccccg
cgcgttggccgattcattaatgcagctggcacgacaggtttcccgactggaaagcgggcagtgagcgcaacgcaattaat
gtgagttagctcactcattaggcaccccaggctttacactttatgcttccggctcgtatgttgtgtggaattgtgagcgg
ataacaatttcacacaggaaacagctatgaccatgattacgccaagcgcgcaattaaccctcactaaagggaacaaaagc
tggagctgcaagcttaatgtagtcttatgcaatactcttgtagtcttgcaacatggtaacgatgagttagcaacatgcct
tacaaggagagaaaaagcaccgtgcatgccgattggtggaagtaaggtggtacgatcgtgccttattaggaaggcaacag
acgggtctgacatggattggacgaaccactgaattgccgcattgcagagatattgtatttaagtgcctagctcgatacat
aaacgggtctctctggttagaccagatctgagcctgggagctctctggctaactagggaacccactgcttaagcctcaat
aaagcttgccttgagtgcttcaagtagtgtgtgcccgtctgttgtgtgactctggtaactagagatccctcagacccttt
tagtcagtgtggaaaatctctagcagtggcgcccgaacagggacttgaaagcgaaagggaaaccagaggagctctctcga
cgcaggactcggcttgctgaagcgcgcacggcaagaggcgaggggcggcgactggtgagtacgccaaaaattttgactag
cggaggctagaaggagagagatgggtgcgagagcgtcagtattaagcgggggagaattagatcgcgatgggaaaaaattc
ggttaaggccagggggaaagaaaaaatataaattaaaacatatagtatgggcaagcagggagctagaacgattcgcagtt
aatcctggcctgttagaaacatcagaaggctgtagacaaatactgggacagctacaaccatcccttcagacaggatcaga
agaacttagatcattatataatacagtagcaaccctctattgtgtgcatcaaaggatagagataaaagacaccaaggaag
ctttagacaagatagaggaagagcaaaacaaaagtaagaccaccgcacagcaagcggccgctgatcttcagacctggagg
aggagatatgagggacaattggagaagtgaattatataaatataaagtagtaaaaattgaaccattaggagtagcaccca
ccaaggcaaagagaagagtggtgcagagagaaaaaagagcagtgggaataggagctttgttccttgggttcttgggagca
gcaggaagcactatgggcgcagcgtcaatgacgctgacggtacaggccagacaattattgtctggtatagtgcagcagca
gaacaatttgctgagggctattgaggcgcaacagcatctgttgcaactcacagtctggggcatcaagcagctccaggcaa
gaatcctggctgtggaaagatacctaaaggatcaacagctcctggggatttggggttgctctggaaaactcatttgcacc
actgctgtgccttggaatgctagttggagtaataaatctctggaacagatttggaatcacacgacctggatggagtggga
cagagaaattaacaattacacaagcttaatacactccttaattgaagaatcgcaaaaccagcaagaaaagaatgaacaag
aattattggaattagataaatgggcaagtttgtggaattggtttaacataacaaattggctgtggtatataaaattattc
ataatgatagtaggaggcttggtaggtttaagaatagtttttgctgtactttctatagtgaatagagttaggcagggata
ttcaccattatcgtttcagacccacctcccaaccccgaggggacccgacaggcccgaaggaatagaagaagaaggtggag
agagagacagagacagatccattcgattagtgaacggatctcgacggtatcgatcacgagactagcctcgagcggccgcc
cccttcaccgagggcctatttcccatgattccttcatatttgcatatacgatacaaggctgttagagagataattggaat
taatttgactgtaaacacaaagatattagtacaaaatacgtgacgtagaaagtaataatttcttgggtagtttgcagttt
taaaattatgttttaaaatggactatcatatgcttaccgtaacttgaaagtatttcgatttcttggctttatatatcttg
tggaaaggacgaaacACCGGTGTGTTGTAAATGAGCACACAAAATACACATGCTAAAATATTATATTCTATGACCTTTAT
AAAATCAACCAAAATCTTCTTTTTAATAACTTTAGTATCAATAATTAGAATTTTTATGTTCCTTTTTGCAAACTTTTAAT
AAAAATGAGCAAAATAAAAAAACGCTAGTTTTAGTAACTCGCGTTGTTTTCTTCACCTTTAATAATAGCTACTCCACCAC
TTGTTCCTAAGCGGTCAGCTCCTGCTTCAATCATTTTTTGAGCATCTTCAAATGTTCTAACTCCACCAGCTGCTTTAACT
AAAGCATTGTCTTTAACAACTGACTTCATTAGTTTAACATCTTCAAATGTTGCACCTGATTTTGAAAATCCTGTTGATGT
TTTAACAAATTCTAATCCAGCTTCAACAGCTATTTCACAAGCTTTCATGATTTCTTCTTTTGTTAATAAACAATTTTCCA
TAATACATTTAACAACATGTGATCCAGCTGCTTTTTTTACAGCTTTCATGTCTTCTAAAACTAATTCATAATTTTTGTCT
TTTAATGCACCAATATTTAATACCATATCAATTTCTGTTGCACCATCTTTAATTGCTTCAGAAACTTCGAATGCTTTTGT
AGCTGTTGTGCATGCACCTAGAGGAAAACCTACAACATTTGTTATTCCTACATTTGTGCCTTTTAATAATTCTTTACAAT
AGCTTGTTCAATATGAATTAACACAAACTGTTGCAAAATCAAATTCAATTGCTTCATCACATAATTGTTTAATTTCAGCT
TTCGTAGCATCTTGTTTTAATAATGTGTGATCTATATATTTGTTTAGTTTCATTTTTTCTCCTATATATTCATTTTTAAT
TTTAATTCTTTAATAATTTCGTCTACTTTAACTTTAGCGTTTTGAACAGATTCACCAACACCTATAAAATAAATTTTTAG
TTTAGGTTCAGTTCCACTTGGGCGAACAGCAAATCATGACTTATCTTCTAAATAAAATTTTAGTAAGTCTTGTCCTGGCA
TATTATACATTCCATCGATGTAGTCTTCAACATTAACAACTTTAAGTCCAGCAATTTGAGTTAAGGGTGTTGCTCTCAAT
GATTTCATTAATGGTTCAATTTTTAATTTCTTTTCTTCTGGTTTAAAATTCAAGTTTAAAGTGAAAGTGTAATATGCACC
CATTTCTTTAAATAAATCTTCTAAATAGTCTACTAATGTTTTATTTTGTTTTTTATAAAATCAAGCAGCCTCTGCTATTA
ATATAGAAGCTTGTATTCCATCTTTATCTCTAGCTGAGTCATCAATTACATATCCATAACTTTCTTCATAAGCAAAAACA
AAATTTAATCCGTTATCTTCTTCTTTAGCAATTTCTCTACCCATTCATTTAAATCCAGTTAAAGTTTTTACAATATTAAC
TCCATATTTTTCATGAGCGATTCTATCACCCAAATCACTTGTTACAAAACTTGAATATAGAGCCGGATTTTTTGGAATGC
TATTTAAGCGTTTTAGATTTGATAATTTTCAATCAATTAAAATTGGTCCTGTTTGATTTCCATCTAATCTTACAAAATGA
CCATCATGTTTTATTGCCATTCCAAATCTGTCAGCATCTGGGTCATTCATAATAATAATATCTGCATCATGTTTAATACC
ATATTCAAGCGGTATTTTTCATGCAGGATCAAATTCTGGATTTGGATTTACAACATTTTTAAATGTTTCATCTTCAAATG
CATGCTCTTCAACCTCAATAACGTTATATCCTGATTCACGTAATATTTTTGGGGTAAATTTAGTTCCTGTTCCATTAACT
GCGCTAAAAATAATTTTTAAATCTTTTTTAGCTTCTTGCTCTTTTTTGTAGAATTCtcgacctcgagacaaatggcagta
ttcatccacaattttaaaagaaaaggggggattggggggtacagtgcaggggaaagaatagtagacataatagcaacaga
catacaaactaaagaattacaaaaacaaattacaaaaattcaaaattttcgggtttattacagggacagcagagatccac
tttggccgcggctcgaggggg
</textarea>
  <p class="button"><a href="#">Try It</a></p>

</div>

<div id="giraffe-analyze"></div>

{% endblock %}

{% block pagejs %}
<script>

jQuery(document).ready(function($){
  $('#post-form .button a').click(function(evt){
    evt.preventDefault();
    var analyzer_dom_id = 'giraffe-analyze';
    $('#'+analyzer_dom_id).empty();

    var seq = $('#post-form textarea[name=sequence]').val();
    seq = seq.replace(/\s+/g,'');
    var db = $('#post-form input[name=db]').val();
    if (seq !== undefined && seq.length > 0) {
      var gd = GiraffeDraw2();
      var data0 = [seq.length,
                   [{ "show_feature": 1,
                      "start": 100,
                      "end": 1000,
                      "feature": "Test",
                      "type_id": 1,
                      "clockwise": true,
                      "layer": "Split1"
                    }],
                   seq];
      gd.read(data0);
      var analyzer = GiraffeAnalyze2($, gd, { 'dom_id': analyzer_dom_id, 'name': 'Sequence' });

      $.post("{% url blat-post %}",
             { "sequence": seq, "db": db },
             function(data) {
               if (data[2] != data0[2]) {
                 alert("Opps, cannot use original features because sequence has been changed by Giraffe");
               }
               else {
                 for (var i=0; i<data0[1].length; i++) {
                   data[1].push(data0[1][i]);
                 }
               }
               var gd = GiraffeDraw2();
               gd.read(data);
               $('#'+analyzer_dom_id).empty();
               analyzer = GiraffeAnalyze2($, gd, { 'dom_id': analyzer_dom_id, 'name': 'Sequence' });
             },
             'json');
      return;
    }
    alert('Please enter a sequence');
  });
});

</script>

<script type="text/javascript" src="/static/giraffe/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/giraffe/js/scale.raphael.js"></script>
<script type="text/javascript" src="/static/giraffe/js/bio.js"></script>
<script type="text/javascript" src="/static/giraffe/js/draw.js"></script>
<script type="text/javascript" src="/static/giraffe/js/analyze.js"></script>

{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="/static/giraffe/css/analyze.css" type="text/css"/>
{% endblock %}

